* {
  box-sizing: border-box;
}
html {
  font-size: 18px;
  _font-family: "Encode Sans SC", sans-serif;
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
}
body {
  --bg-dark-color: #121212;
  --white: snow;
  --red: #c91d1d;
  --yellow: #fde635;
  --blue: #49b9e9;
  --green: #93bc38;
  --highlight-dark: #f49c5c;
  --highlight-light: #fdc67b;
  margin: 0;
  _background-color: var(--bg-dark-color);
  background: repeating-linear-gradient(
    70deg,
    #141a1d,
    #141a1d 0.5px,
    #1b2327 0.5px,
    #1b2327 8px
  );
  color: var(--white);
}
main {
  margin: 0 auto;
  max-width: 76ch;
  padding-left: 1rem;
}

.main-header {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  _background-color: var(--blue);
}
.main-header-wrapper {
}
.main-nav {
  display: inline-block;
  _padding: 0 2.5rem 0 2.5rem;
}
.main-heading {
  margin: 0;
  display: inline-block;
  padding: 0 2rem 0 2.5rem;
}
.page-heading {
  font-family: "Encode Sans SC", sans-serif;
}
.article-heading {
  font-family: "Encode Sans SC", sans-serif;
}
.main-nav a {
  margin: 0 0.125rem 0 0.125rem;
  padding: 0 2rem 0 2rem;
  font-family: "Encode Sans SC", sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--white);
  text-decoration-thickness: 0.25rem;
}
.a-games {
  text-decoration-color: var(--red);
}
.a-news {
  text-decoration-color: var(--yellow);
}
.a-network {
  text-decoration-color: var(--green);
}
.a-about {
  text-decoration-color: var(--blue);
}

/*
GRID
*/
.grid-layout {
  display: grid;
  grid-auto-rows: minmax(4em, auto);
  grid-gap: 0.5rem;
}
.grid-layout > div {
  _border: 1px solid hotpink;
  background-size: cover;
  display: flex;
  align-items: flex-start;
}

@media screen and (max-width: 760px) {
  html {
    font-size: 14px;
  }
  .page-heading {
    font-size: 1.2rem;
  }
  .main-header {
    justify-content: flex-start;
    padding: 0rem;
  }
  .main-heading {
    padding-left: 10%;
  }
  .main-nav {
    margin-top: 0.5rem;
    padding-left: 10%;
    display: flex;
    flex-flow: column;
  }
  .main-nav a {
    padding: 0.25rem 2rem 0.25rem 0;
  }
  .content-paragraph {
    padding-right: 0.5rem;
  }
  .grid-heading {
    margin-top: 0.8rem;
  }
  .games {
    border-bottom: 4px dotted var(--red);
  }
  .news {
    border-bottom: 4px dotted var(--yellow);
  }
  .network {
    border-bottom: 4px dotted var(--green);
  }
  .about {
    border-bottom: 4px dotted var(--blue);
  }
}
@media screen and (max-width: 857px) {
  html {
    font-size: 16px;
  }
  .grid-layout {
    grid-template-columns: repeat(12, 1fr);
  }
  .grid-heading {
    grid-column: 1/-1;
    grid-row: span 1;
  }
  .grid-content {
    grid-column: 1/-1;
    grid-row: span 2;
    flex-flow: column;
  }
  .grid-footer {
    grid-column: 1/-1;
    grid-row: span 2;
  }
  .grid-heading {
    font-size: 0.7rem;
    border-bottom: 4px dotted var(--red);
  }
  .content-left > img {
    width: 90%;
    height: 90%;
    padding: 0.5rem 0 0 0;
  }
  .games {
    border-bottom: 4px dotted var(--red);
  }
  .news {
    border-bottom: 4px dotted var(--yellow);
  }
  .network {
    border-bottom: 4px dotted var(--green);
  }
  .about {
    border-bottom: 4px dotted var(--blue);
  }
}
@media screen and (min-width: 858px) {
  html {
    font-size: 18px;
  }
  .grid-layout {
    grid-template-columns: repeat(12, 1fr);
  }
  .grid-heading {
    grid-column: 1/-1;
    grid-row: span 1;
  }
  .grid-content {
    grid-column: 1/-1;
    grid-row: span 2;
    flex-flow: column;
  }
  .grid-footer {
    grid-column: 1/-1;
    grid-row: span 2;
  }
  .grid-heading {
    font-size: 0.7rem;
    border-bottom: 4px dotted var(--red);
  }
  .games {
    border-bottom: 4px dotted var(--red);
  }
  .news {
    border-bottom: 4px dotted var(--yellow);
  }
  .network {
    border-bottom: 4px dotted var(--green);
  }
  .about {
    border-bottom: 4px dotted var(--blue);
  }

  .page-heading {
    padding-top: 1rem;
    margin-bottom: 0;
  }
  .content-article {
    width: 100%;
    margin: 0.5rem 0 0.5rem 0;
    padding: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background: repeating-linear-gradient(
      120deg,
      #0b0f10,
      #0b0f10 0.5px,
      #12171a 0.5px,
      #12171a 8px
    );
  }
  .nw {
    width: 80%;
    margin: 2rem 2rem 2rem 0rem;
  }
  .heading-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .article-heading {
    margin-top: 0;
    font-size: 1rem;
  }
  .news-date {
    text-align: right;
    margin-top: 0;
    font-size: 0.8rem;
  }
  .content-wrapper {
    display: flex;
  }
  .content-left {
    width: 35%;
  }
  .content-left > img {
    width: 90%;
    height: 90%;
    padding: 0.5rem 0 0 0;
  }
  .content-right {
    width: 65%;
  }
  .content-paragraph {
    margin-top: 0;
  }
}
