* {
  box-sizing: border-box;
}
html {
  font-size: 18px;
  _font-family: "Encode Sans SC", sans-serif;
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
}
body {
  --bg-dark-color: #121212;
  --white: snow;
  --red: #ba3d3b;
  --yellow: #fde635;
  --blue: #49b9e9;
  --green: #93bc38;
  --highlight-dark: #f49c5c;
  --highlight-light: #fdc67b;
  margin: 0;
  background-color: var(--bg-dark-color);
  color: var(--white);
}
main {
  margin: 0 auto;
  max-width: 90ch;
}

/*
GRID
*/
.grid-layout {
  display: grid;
  grid-auto-rows: minmax(4em, auto);
}
